// common
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
    color: $colorText;
}
a {
    text-decoration: none;
}

// media screen mobile
@media only screen and (max-width: 550px) {
    nav a {
      display: none;
    }
    .fa-bars {
        visibility: visible;
    }
    .resize {
        height: 100px;
    }
}
// media screen ipad
@media only screen and (max-width: 998px) {
    nav a {
      display: none;
    }
    .fa-bars {
        visibility: visible;
    }
}

// media screen desktop
@media only screen and (min-width: 998px) {
    .fa-bars {
        visibility: hidden;
    }
}